@model ProductViewModel

@{
    ViewBag.Title = "Add New Product";
}

<div class="row pb-2">
    <h4 class="text-uppercase">@(Model.Product.Id is not 0 ? "Update" : "Create New") Product</h4>
</div>
<div class="row mb-3">
    <div class="col-4">
        <a asp-action="Index" asp-controller="Product" asp-route-id="0" class="btn btn-outline-secondary">
            <i class="bi bi-arrow-left"></i><span class="ms-2">Back to Products List</span>
        </a>
    </div>
</div>
<form method="post" class="row" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <input asp-for="Product.Id" hidden />
        <div class="mb-3">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description"></label>
            <input asp-for="Product.Description" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Specifications"></label>
            <input asp-for="Product.Specifications" class="form-control" required>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" class="form-control" required>
        </div>
        <div class="mb-3 form-floating py-2 col-12">
            <input type="file" class="form-control border-0 shadow"/>
            <label asp-for="Product.FeaturedImage" class="ms-2"></label>
        </div>
        @* ref: https://stackoverflow.com/questions/18382311/populating-a-razor-dropdownlist-from-a-listobject-in-mvc *@
        <div class="mb-3">
            @Html.LabelFor(m => m.Product.BrandId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Product.BrandId, Model.BrandListItems, new { @class = "form-select mb-3", id = "brand-select" })
            <input class="form-control mb-3 visually-hidden" id="brand-input" type="text"/>
            <a class="btn btn-primary" asp-action="Index" target="_blank" asp-controller="Brand">Add New</a>
        </div>
        <div class="mb-3">
            <label asp-for="Product.ModelNumber"></label>
            <input asp-for="Product.ModelNumber" class="form-control">
        </div>
        <div class="mb-3">
            @Html.LabelFor(m => m.Product.SubcategoryId, new { @class = "form-label" })
            @Html.DropDownListFor(m => m.Product.SubcategoryId, Model.SubcategoryListItems, new { @class = "form-select mb-3", id = "sc-select" })
            <input class="form-control mb-3 visually-hidden" id="sc-input" type="text"/>
            <a class="btn btn-primary" type="button" asp-action="Index" target="_blank" asp-controller="Subcategory">Add New</a>
        </div>
        <div class="row">
            <div class="col-4">
                <button type="submit" class="btn btn-primary" style="width: 280px;">Create</button>
            </div>
            <div class="col-4">
                <a asp-action="Index" asp-controller="Product" asp-route-id="0" class="btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i><span class="ms-2">Back to Products List</span>
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
    
    <script type="text/javascript">
        function goToSubcategory() {
            document.location = "../../subcategories";
        }
    </script>

    @* <script type="text/javascript"> *@
    @* $(document).ready(function() { *@
    @*     $("#subcat-input").hide(); *@
    @*     $("#brand-input").hide(); *@
    @* }); *@
    @*      *@
    @* function ShowSubCatInput() { *@
    @*     $("#subcat-select").hide(); *@
    @*     $("#subcat-input").show(); *@
    @* } *@
    @* *@
    @* function ShowBrandInput() { *@
    @*     $("#brand-select").hide(); *@
    @*     $("#brand-input").show(); *@
    @* } *@
    @* *@
    @* </script> *@
}